
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
}
body {
    background-color: wheat;
  }
  
.content-box{
    background-color: rgb(126, 161, 193);
    color: black;
    padding: 10px;
    margin: 1px;
    border: 2px black solid;
    border-radius: 10px;
    font-family:monospace;
    width: 95%;
    float: left;
}